<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>농장 정보 공유</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body-index">
    <header>
        <div class="background-monster_rotate">
            <div class="rainny_monster rainny_monster-pig" id="rain1"><img src="/img/rain_img/리본돼지.png" alt=""></div>
            <div class="rainny_monster rainny_monster-pig" id="rain2"><img src="/img/rain_img/리본돼지.png" alt=""></div>
            <div class="rainny_monster rainny_monster-pig" id="rain3"><img src="/img/rain_img/리본돼지.png" alt=""></div>
            <div class="rainny_monster rainny_monster-pig" id="rain4"><img src="/img/rain_img/리본돼지.png" alt=""></div>

            <div class="rainny_monster rainny_monster-slime" id="rain5"><img src="/img/rain_img/슬라임.png" alt=""></div>
            <div class="rainny_monster rainny_monster-slime" id="rain6"><img src="/img/rain_img/슬라임.png" alt=""></div>
            <div class="rainny_monster rainny_monster-slime" id="rain7"><img src="/img/rain_img/슬라임.png" alt=""></div>
            <div class="rainny_monster rainny_monster-slmie" id="rain8"><img src="/img/rain_img/슬라임.png" alt=""></div>

            <div class="rainny_monster rainny_monster-mushrum" id="rain9"><img src="/img/rain_img/주황버섯.png" alt=""></div>
            <div class="rainny_monster rainny_monster-mushrum" id="rain10"><img src="/img/rain_img/주황버섯.png" alt=""></div>
            <div class="rainny_monster rainny_monster-mushrum" id="rain11"><img src="/img/rain_img/주황버섯.png" alt=""></div>
            <div class="rainny_monster rainny_monster-mushrum" id="rain12"><img src="/img/rain_img/주황버섯.png" alt=""></div>

            <div class="rainny_monster rainny_monster-snail" id="rain13"><img src="/img/rain_img/파란달팽이.png" alt=""></div>
            <div class="rainny_monster rainny_monster-snail" id="rain14"><img src="/img/rain_img/파란달팽이.png" alt=""></div>
            <div class="rainny_monster rainny_monster-snail" id="rain15"><img src="/img/rain_img/파란달팽이.png" alt=""></div>
            <div class="rainny_monster rainny_monster-snail" id="rain16"><img src="/img/rain_img/파란달팽이.png" alt=""></div>
        </div>
        
        <div class="move-to_monster_tree">
            <form action="/monster_tree" method="GET">
                <button type="submit" class="move-to_monster_tree-btn">
                    <i class="fas fa-tree"></i>
                </button>
            </form>
        </div>
    </header>
    <main>
        <div class="outerline-search_box">
            <div class="search_box">
                <form action="/index-monster_search" method="POST">
                    <span>몬스터 : </span>
                    <input type="text" name="searcher" class="searcher" value="몹 입력 ㄱ">
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="searched_index">
            <% for(i = 0; i < list.length ; i++) { %>
                <div class="searched_index-rows" style="animation-delay: <%=(i * 0.1) %>s;">
                    <div class="searched_index-rows-img">
                        <img src="/img/monster_img/<%=list[i].name %>.png" alt="">
                    </div>
                    
                    <div>
                        <%=list[i].name %>
                    </div>
                    <div>
                        <form action="/insert_log_post" method="POST">
                            <button class="mv-idx_to_monstercard">
                                <i class="fas fa-plus"></i>
                            </button>
                            <input type="text" value="<%=list[i].name %>" class="hide" name="name">
                        </form>
                    </div>
                    <div>
                        <form action="/monstercard_post" method="POST">
                            <button class="mv-idx_to_monstercard">
                                <i class="fas fa-angle-double-right"></i>
                            </button>
                            <input type="text" value="<%=list[i].name %>" class="hide" name="name">
                            <input type="text" value="index" class="hide" name="wherefrom">
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
    </main>
    <footer>
        <script src="https://kit.fontawesome.com/c9ac2544ad.js" crossorigin="anonymous"></script>
    </footer>
</body>
</html>