<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>몬스터 트리</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body-monster_tree">
    <header>
        <div class="move_back">
            <form action="/index" method="GET">
                <button type="submit" class="move_back-btn">
                    &lt;
                </button>
            </form>
        </div>
    </header>
    <main class="main-monster_tree">
        <% for(i = 0; i < trees.length; i++) { %>
            <% var level = 0; %>
            <% for(j = 1; j <= trees[i].length - 1; j = j * 2) { %>
                <% level++; %>
            <% } %>
            
            <div class="monster_tree">
                <% for(j = 0; j < level; j++) { %>
                    <div class="monster_tree-row">
                        <% for(k = 2 ** j; k < 2 ** (j+1); k++) { %>
                            <% var id_num; var IsExist = false; %>
                            <% for(l = 0; l < list.length; l++) { %>
                                <% if(list[l].name === trees[i][k]) { %>
                                    <% id_num = l; IsExist = true; break; %>
                                <% } %>
                            <% } %>

                            <% if(j < 4) { %>
                                <% if(IsExist) { %>
                                    <form action="/monstercard_post" method="POST">
                                        <button type="submit" class="monster_card-btn">
                                            <div class="container ">
                                                <div class="monster_card ">
                                                    <img src="/img/monster_img/<%=list[id_num].name %>.png" class="monster_card-img">
                                                    <div class="monster_card-grade"><%=list[id_num].grade %></div>
                                                    <div class="monster_card-name"><%=list[id_num].name %></div>
                                                </div>
                                            </div>
                                        </button>
                                        <input type="text" value="<%=list[id_num].name %>" class="hide" name="name">
                                        <input type="text" value="monster_tree" class="hide" name="wherefrom">
                                    </form>
                                <% }else { %>
                                    <button type="submit" class="monster_card-btn">
                                        <div class="container ">
                                            <div class="monster_card ">
                                                <img src="/img/monster_img/empty.png" class="monster_card-img">
                                                <div class="monster_card-grade">X</div>
                                                <div class="monster_card-name">EMPTY</div>
                                            </div>
                                        </div>
                                    </button>
                                <% } %>
                            <% }else if(j < 5) { %>
                                <% if(IsExist) { %>
                                    <form action="/monstercard_post" method="POST">
                                        <button type="submit" class="monster_card-btn monster_card-btn_half">
                                            <div class="container container_half">
                                                <div class="monster_card monster_card_half">
                                                    <img src="/img/monster_img/<%=list[id_num].name %>.png" class="monster_card-img monster_card-img_half">
                                                    <div class="monster_card-grade monster_card-grade_half"><%=list[id_num].grade %></div>
                                                    <div class="monster_card-name monster_card-name_half"><%=list[id_num].name %></div>
                                                </div>
                                            </div>
                                        </button>
                                        <input type="text" value="<%=list[id_num].name %>" class="hide" name="name">
                                        <input type="text" value="monster_tree" class="hide" name="wherefrom">
                                    </form>
                                <% }else { %>
                                    <button type="submit" class="monster_card-btn monster_card-btn_half">
                                        <div class="container container_half">
                                            <div class="monster_card monster_card_half ">
                                                <img src="/img/monster_img/empty.png" class="monster_card-img monster_card-img_half">
                                                <div class="monster_card-grade monster_card-grade_half">X</div>
                                                <div class="monster_card-name monster_card-name_half">EMPTY</div>
                                            </div>
                                        </div>
                                    </button>
                                <% } %>
                            <% } else { %>
                                <% if(IsExist) { %>
                                    <form action="/monstercard_post" method="POST">
                                        <button type="submit" class="monster_card-btn monster_card-btn_halfq">
                                            <div class="container container_halfq">
                                                <div class="monster_card monster_card_halfq">
                                                    <img src="/img/monster_img/<%=list[id_num].name %>.png" class="monster_card-img monster_card-img_halfq">
                                                    <div class="monster_card-grade monster_card-grade_halfq"><%=list[id_num].grade %></div>
                                                    <div class="monster_card-name monster_card-name_halfq"><%=list[id_num].name %></div>
                                                </div>
                                            </div>
                                        </button>
                                        <input type="text" value="<%=list[id_num].name %>" class="hide" name="name">
                                    </form>
                                <% }else { %>
                                    <button type="submit" class="monster_card-btn monster_card-btn_halfq">
                                        <div class="container container_halfq">
                                            <div class="monster_card monster_card_halfq ">
                                                <img src="/img/monster_img/empty.png" class="monster_card-img monster_card-img_halfq">
                                                <div class="monster_card-grade monster_card-grade_halfq">X</div>
                                                <div class="monster_card-name monster_card-name_halfq">EMPTY</div>
                                            </div>
                                        </div>
                                    </button>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>
                <% } %>
            </div>

        <% } %>

    </main>
    <footer>
        <script src="https://kit.fontawesome.com/c9ac2544ad.js" crossorigin="anonymous"></script>
    </footer>
</body>
</html>